.ix-chevron-right {
  padding-top: 5px;
  padding-left: 3px;
}

.ix-pagination {
  margin-left: 32px;
  margin-top: 32px;
  grid-row: 4;
}

.ix-next-page-button {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.Button__Button___1ZfFj
  Button__Button--muted___2Wair
  Button__Button--small___3yyrk {
  width: 120px;
}
