.ix-helper-text {
  margin-top: 0.5rem;
  font-family: -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Helvetica,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;
  font-size: 0.875rem;
  line-height: 1.5;
  display: block;
  color: #606c7c;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 20 0 100%;
}

.icon {
  flex: 2;
  margin-top: 8%;
  margin-left: 10px;
}

[data-test-id='cf-notification-container'] {
  margin-left: 80px;
}

.ix-config-container {
  margin: 80px;
}

.ix-config-description {
  max-width: 500px;
}

