.ix-helper-text {
  margin-top: 0.5rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 0.875rem;
  line-height: 1.5;
  display: block;
  color: #606c7c;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 20 0 100%;
}

.icon {
  flex: 2;
  margin-top: 2.5rem;
  margin-left: 10px;
}

[data-test-id='cf-notification-container'] {
  margin-left: 80px;
}

.ix-config-container {
  background: linear-gradient(#00bffe 300px, transparent 300px) no-repeat;
}

.ix-config-description {
  margin: 2rem auto 2rem;
  max-width: 768px;
  background-color: #ffffff;
  padding: 2rem 3rem;
  border-radius: 2px;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
}

code {
  padding: 0.5px 4px;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.842);
}

code.ix-config-description-permissions {
  background-color: #1b273a;
}

code.ix-config-description-blue-buttons {
  background-color: #036fe3;
}

code.ix-config-description-green-button {
  background-color: #008539;
}

.ix-config-description-list {
  color: #414d63;
}
