.ix-container {
  margin: 24px 64px 65px 64px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 100px 460px 50px;
  grid-column-gap: 20px;
}

.ix-title {
  grid-row: 1;
  height: 20px;
}

.ix-dropdown {
  grid-row: 2;
  margin-bottom: 50px;
}
