.ix-grid-item-placeholder {
  margin-top: 32px;
  height: 250px;
  border: 2px solid #eeeded;
  border-radius: 4px;
  display: flex;
  background: #fafafa;
  justify-content: center;
  align-items: center;
  margin: 20px 40px;
}

.ix-placeholder-text {
  text-align: center;
  font-size: 21px;
  font-weight: 700;
}
