.ix-chevron-right {
  padding-top: 5px;
  padding-left: 3px;
}

.ix-pagination-button {
  padding: 20px 0;
}

.ix-pagination-prevButton {
  border-radius: 8px 0 0 8px;
}

.ix-pagination-dropdownButton {
  border-radius: 0;
}

.ix-pagination-dropdown {
  width: 133px;
}

.ix-pagination-dropdown > li > button > span {
  text-align: center;
}

.ix-pagination-nextButton {
  direction: rtl;
  border-radius: 0 8px 8px 0;
}

[data-test-id='cf-ui-dropdown-container'] {
  border-radius: 0 0 8px 8px;
}
