.ix-sources {
  display: flex;
  align-items: center;
  padding: 0px 40px;
}

.ix-searchForm {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.ix-searchForm > div {
  display: flex;
  margin: 0;
}

.ix-searchForm > div:first-child {
  flex: 1;
}

.ix-searchBar {
  display: flex;
  margin-right: 12px;
  width: 100%;
}

.ix-searchButton {
  display: flex;
  right: 0;
  min-width: 102px;
}

.ix-top-bar-container {
  display: flex;
  width: 100%;
}

.ix-upload-editor-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.572);
}

.ix-upload-editor {
  position: absolute;
  width: 432px;
  height: 574px;
  top: 2.5%;
  left: 25%;
  right: 25%;
  bottom: 0%;
  background-color: #fff;
  z-index: 3;
  margin: 25px;
  border-radius: 4px;
}

.ix-upload-title-bar {
  width: 100%;
  background: #F7F9FA;
  /* Subheading */
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: -0.32px;
  border-bottom: 1px solid #CFD9E0;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  border-radius: 4px;
}

.ix-upload-header-text {
  margin: 25px;
}

.ix-close-button {
  margin: auto 15px;
}

.ix-upload-content {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.ix-upload-options {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 25px;
  min-width: 385px;
}

.ix-upload-sources {
  margin-right: 8px;
}

.ix-upload-sources > [data-test-id='upload-source-select-dropdown'] > button {
 min-width: 114px;
}

.ix-upload-sources > p, .ix-upload-destination > p {
/* SectionHeading */
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */
  letter-spacing: 1.6px;
  text-transform: uppercase;
  margin: auto 4px;
}

.ix-upload-destination {
  min-width: 210px;
}
.ix-upload-destination > form {
  all: revert;
  min-width: 230px;
}

.ix-upload-destination > input {
  outline: none;
  border: none;
}

.ix-destination-tooltip {
  fill: #414d63;
  margin-top: 25px;
  margin-left: 10px;
}

.ix-input-readonly > input {
  background-color: #fff;
  border-color: #aec1cc;
  box-shadow: 0 1px 0 rgb(246 247 247 / 32%);
  color: #111b2b42;
}

.ix-input-readonly > *:focus {
  outline: none;
  border-color: #aec1cc;
  box-shadow: 0 1px 0 rgb(246 247 247 / 32%);
  color: #111b2b42;
}

.ix-input-readonly > *:hover {
  cursor: not-allowed;
}

.ix-upload-preview > img {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  object-fit: cover;
}

.ix-upload-preview-filename {
  /* Font */
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;

  position: relative;
  width: 384px;
  height: 48px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 0px 0px 6px 6px
}

.ix-upload-confirm-button {
  min-width: 384px;
  margin: auto;
}

[data-test-id='upload-source-select-dropdown'] > button {
  margin-right: 0px;
}

[data-test-id='upload-source-select-dropdown'] {
  margin-right: 3px;
}
