.ix-dropdown {
  width: auto;
  height: 40px;
  margin-right: 32px;
}

.ix-dropdown > span {
  justify-content: space-between;
}

.ix-dropdown-list {
  width: 212px;
  overflow: scroll;
  max-height: 500px;
}

[data-test-id='cf-ui-dropdown-container'] {
  border-radius: 6px;
}
