html,
body,
div {
  margin: 0;
  padding: 0;
}

iframe[title*='widget-renderer'] {
  width: max-content;
  background-color: red;
}
iframe[src*='http://localhost:3000/']
{
  width: max-content;
  background-color: red;
}
