.ix-action-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  box-sizing: border-box;
  background: #f7f9fa;
  border-top: 1px solid #cfd9e0;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 25px;
  padding-top: 25px;
  width: 100%;
  z-index: 2;
}

.ix-action-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ix-action-button-container > button {
  margin-left: 25px;
}

.ix-close-button {
  padding: 20px 0;
}
